.or::before,
        .or::after {
            content: "";
            flex: 1;
            height: 2px;
            background-color: white;
        }
.or {
    display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
}
.form-control::placeholder
{
    color:white !important ;
    opacity: 0.7;
}
#password ,#name
{
    border-radius: 2px;
    height: 50px;
}
.btn2
{
    border-radius: 0px !important;
    background-color: rgb(68, 68, 68) !important;
    opacity: 0.5;
}
.btn
{
    border-radius:  0px !important;
    height: px;
}
.form-label::after
{
    content:" *";
    color: rgb(160, 0, 0);
}
#language-select
{
    width: 100%;
    height:50px;
}
